<div class="user-detail">
  <img [src]="user.image" alt="{{ user.firstName }} {{ user.lastName }}">
  <h2>{{ user.firstName }} {{ user.lastName }}</h2>
  <p>Maiden Name: {{ user.maidenName }}</p>
  <p>Age: {{ user.age }}</p>
  <p>Gender: {{ user.gender }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Phone: {{ user.phone }}</p>
  <p>Username: {{ user.username }}</p>
  <p>Birth Date: {{ user.birthDate }}</p>
  <p>Blood Group: {{ user.bloodGroup }}</p>
  <p>Height: {{ user.height }}</p>
  <p>Weight: {{ user.weight }}</p>
  <p>Eye Color: {{ user.eyeColor }}</p>
  <p>Hair Color: {{ user.hair.color }}</p>
  <p>Hair Type: {{ user.hair.type }}</p>
  <p>Address: {{ user.address.address }}, {{ user.address.city }}, {{ user.address.state }}, {{ user.address.postalCode }}, {{ user.address.country }}</p>
  <p>University: {{ user.university }}</p>
  <p>Company: {{ user.company.name }}</p>
  <p>Department: {{ user.company.department }}</p>
  <p>Title: {{ user.company.title }}</p>
  <p>Role: {{ user.role }}</p>
</div>
