<div class="container">
  <h1 class="text-lg-center">User contacts</h1>

  <div>
    <div class="input-group mb-3">
      <span class="input-group-text">Search users</span>
      <input type="text" class="form-control" (input)="onSearch($event)">
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="gender-filter">Gender</label>
      <select class="form-select" id="gender-filter" (change)="onFilter($event)">
        <option value="">All</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>

    <div class="user-list">
      <div *ngFor="let user of users">
        <app-user-overview [user]="user"></app-user-overview>
      </div>
    </div>
  </div>
</div>
